@use 'mixin' as m;
@use 'variables' as v;


#collection {
    // display:flex;
    // align-items:center;
    // gap:60px;

    .sec-title {
        padding-top: 100px;
        font-size: 64px;
    }

    .collection-list {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 10px;

        @include m.bp {
            grid-template-columns: 1fr;
        }
    }
    
    img {
        width: 80%;
        height: 80%;
    }

    .collection-list li {
        position: relative;
        overflow: hidden;
    }

    .collection-list li :hover img {
    transform: scale(1.05);
    }

    .collection-list img {
        width: 100%;
        display: block;
    }

    .collection-list img {
        transition:0.5s;
    }



    /* テキスト */

    .overlay {
        position: absolute;
        left: 0;
        bottom: -100px;
        width: 100%;
        background: rgba(255,255,255,0.9);
        padding: 15px;
        transition: 0.4s;
    }

    /* hover */

    .collection-list li:hover .overlay {
        bottom: 0;
    }

    .overlay span {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .overlay p {
        font-size: 18px;
    }
}




