@use 'mixin' as m;
@use 'variables' as v;


#collection {

    .page-title {
        font-size: 64px;
        padding:100px 0 50px 0;

        @include m.bp {
            font-size: 40px;
            text-align: center;
            padding:30px 0;
        }
    }

    .collection-list {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 10px;

        @include m.bp {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    img {
        width: 80%;
        height: 80%;
    }

    .collection-list li {
        position: relative;
        overflow: hidden;
    }

    .collection-list li :hover img {
    transform: scale(1.05);
    }

    .collection-list img {
        width: 100%;
        display: block;
    }

    .collection-list img {
        transition:0.5s;
    }



    /* テキスト */

    .overlay {
        position: absolute;
        left: 0;
        bottom: -150px;
        width: 100%;
        background: rgba(255,255,255,0.9);
        padding: 15px;
        transition: 0.4s;
    }

    /* hover */

    .collection-list li:hover .overlay {
        bottom: 0;
    }

    .overlay span {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;

        @include m.bp {
            font-size: 14px;
        }
    }

    .overlay p {
        font-size: 18px;

        @include m.bp {
            font-size: 10px;
        }
        
    }

}




