@use 'mixin' as m;
@use 'variables' as v;



footer {
    // border-top:1px solid #eee;
    padding: 60px 20px 20px 20px;
    background-color: black;

    @include m.bp {
        padding: 30px 60px 10px 60px;
    }
    
    #footer {
        max-width: 1100px;
        margin: auto;

        a {
            color: white;
            
        }
        
        .footer-inner {
            display: flex;
            justify-content: space-between;
            
        
            .footer_logo {
                display: flex;
                color: white;

                img {
                    width: 60px;
                    height: 90px;
                    padding-bottom: 30px;
                }

                span {
                    font-size: 24px;

                    @include m.bp {
                        font-size: 12px;
                    }

                }
            }
        }

        .footer-nav ul {
            // display: flex;
            gap: 10px;
            font-size: 20px;

            @include m.bp {
                flex-direction: column;
                font-size: 14px;
            }
        }
        
        .footer-sns {
            flex-direction: column;

            // gap: 10px;

            // @include m.bp {
            //      display: flex;

            // }

            .footer-snslist {
                // width: 100px;
                font-size: 16px;
                display: flex;
                flex-direction: column;
                padding-right: 30px;

                li {
                    padding-bottom: 20px;
                    
                    a {
                        display: flex !important;

                        @include m.bp {
                            // display: flex;
                            font-size: 10px;
                            
                        }

                        img {
                            // width: 20px;
                            // height: 20px;
                            // margin-right: 6px;
                            // margin-bottom: 6px;

                            margin-right: 8px;    
                            width: 30px;          
                            height: auto;
                            border-radius: 20%;

                            @include m.bp {
                                width: 20px;  
                            }
                        }
                        
                        span {
                            font-size: 24px;
                            
                            @include m.bp {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .copyright {
            padding-top: 50px;
            text-align: center;
            color: white;
        }
        
    }
}