@use 'mixin' as m;
@use 'variables' as v;

header {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 10;
    position: fixed;

    .toggle-btn {
        display: none!important;
    }

    #mask {
        display: none!important;
    }


    img {
        width: 60px;
    }

    nav {
        ul {
            display: flex;
            gap: 30px;
            list-style: none;
         
           nav-menu {
            color: #ddd;
            
            font-weight: bold;
           }

            a {
            letter-spacing: 0.1em;
            font-size: 24px;
            }
        }
    }


    @media screen and (max-width: 767px) {
        #navi ul li {
            padding: 10px 0;
        }

    .toggle_btn {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 24px;
        z-index: 100;
        cursor: pointer;

//         width: 30px;
//         height: 30px;
//         position: relative; /*基準*/
// /*   0.5秒かけて変化させる */
//         transition: all 0.5s;
//         cursor: pointer;
//         border: 1px dotted red;
    }

    .toggle-btn span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333;
        transition: all 0.4s;
    }
    
    .toggle-btn span:nth-child(1) { top: 0; }
    .toggle-btn span:nth-child(2) { top: 11px; }
    .toggle-btn span:nth-child(3) { bottom: 0; }

    /* クリックされて「open」クラスがついた時の3本線の動き（×印） */
    .open .toggle-btn span:nth-child(1) { transform: translateY(11px) rotate(-45deg); }
    .open .toggle-btn span:nth-child(2) { opacity: 0; }
    .open .toggle-btn span:nth-child(3) { transform: translateY(-11px) rotate(45deg); }
/*
ハンバーガーメニューの線の設定（メニューが閉じている時）
*/
//     .toggle_btn span {
//   /* spanはインライン要素のため */
//         display: block;
//         width: 100%;
//         height: 2px;
//         background-color: #333;
//         transition: all 0.5s;
//         position: absolute; /*対象*/
//     }
// /*
// 1本目の線の位置を設定
// */
//     .toggle_btn span:nth-child(1) {
//         top: 36%;
//     }
// /*
// 2本目の線の位置を設定
// */
//     .toggle_btn span:nth-child(2) {
//         top: 50%;
//     }
//     .toggle_btn span:nth-child(3) {
//         top: 64%;
//     }

// /*
// 1本目の線を-45度回転
// transformで線のど真ん中の点を中心に動く
// */

//     .open .toggle_btn span:nth-child(1) {
//         transform: rotate(-45deg);
//         top: 50%;
//     }

// /*2本目の線を45度回転*/
//     .open .toggle_btn span:nth-child(2){
//         transform: rotate(45deg);  
//     }

// /* 3本目 */
//     .open .toggle_btn span:nth-child(3) {
//         transform: rotate(45deg) ;
//         top: 50%;
//     }
}

    h1 a {
        display: flex;
        justify-content: space-between;
    }
}