@use 'mixin' as m;
@use 'variables' as v;

#service {
    padding-top: 80px;
    display: block;
    // justify-content: space-between;
    padding-bottom: 0 60px;

    @include m.bp {
        padding-top: 0;
    }

    .page-title {
        padding-top: 100px;
        font-size: 64px;

        @include m.bp {
            font-size: 40px;
            text-align: center;
        }
    }

    .service img {
        width: 100%;
    }
    
    // .service-image{
    //     width: 80%;
    // }

    .service-right {
        padding: 0 20px;

        @include m.bp {
            font-size: 24px;
            padding: 0 10px 0 0;
        }
    }
}

#service-text {
    .wrapper {
        padding: 50px 300px;

        @include m.bp {
            padding: 0 80px 0 120px;
        }
        
        .sec-subtitle {
            font-size: 40px;

            @include m.bp {
                font-size: 28px;
            }
            
        }
        
        .description {
            p {
                font-size: 24px;
                line-height: 2;

                @include m.bp {
                    font-size: 16px;
                }                
            }
            
        }
    }
}

#order {
    .page-title {
        font-size: 40px;
        text-align: center;
        padding: 100px 0 10px 0;

        @include m.bp {
            font-size: 28px;
            padding: 70px 0 0 0;
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @include m.bp{
            padding: 30px 0;
            gap: 0;
        }


        img {
            object-fit: cover;
            aspect-ratio: 3 / 2;

        }

        li {

            p {
                padding-left: 10px;

                @include m.bp {
                    padding-left: 0;
                }

                

            }

            .middle {
                font-size: 20px;
                font-weight: bold;
                padding-top: 20px;

                @include m.bp {
                    font-size: 13px;
                }
                
            }

            .text {
                font-size: 16px;

                @include m.bp {
                    font-size: 10px;
                    padding: 0 10px;
                }
            }
        }
    }
}